<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@drawable/imagen_2024_04_22_110039483_removebg_preview"
        android:label="@string/app_name"
        android:roundIcon="@drawable/imagen_2024_04_22_110039483_removebg_preview"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.TFG"
        tools:targetApi="31">
        <activity
            android:name=".perfilUser"
            android:exported="false" />
        <activity
            android:name=".eliminarResena"
            android:exported="false" />
        <activity
            android:name=".reviewProduct"
            android:exported="false" />
        <activity
            android:name=".mainMenu"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".logIn"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>